@import url(fonts/iconfont.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } ol, ul { list-style: none; } button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; } button, input { line-height: normal; } input { -webkit-appearance: none; border-radius: 0; } button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;  *overflow: visible; } button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; } .cf:before, .cf:after { content: " "; display: table; } .cf:after {clear: both;} .cf { *zoom: 1; } * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } img { max-width: 100%; height: auto; vertical-align: middle; } iframe { width: 100%; }

/*
grey: #aaa
*/

body {
	color: #000;
	font: 400 1em/1.5em "proxima-nova", Helvetica, arial, sans-serif;
}

/**========================================================
    LAYOUT
========================================================**/

.wrapper {
	position: relative;
/* 	max-width: 1400px; */
	margin: 0 30px;
/* 	padding: 0 30px; */
}

.header .wrapper {
    padding: 30px 0 20px;
    border-bottom: 2px solid #000;
}

.main .wrapper {
    padding: 40px 0 20px;
}

.footer {
}

.left {	float: left; }
.right { float: right; }

.grid .item {
    float: left;
}

.grid .item:nth-child(2n) {
    margin-right: 0;
}

.two-col .item {
    width: 48%;
    margin-right: 4%;
}


/**========================================================
    TYPE
========================================================**/

h1,h2,h3,h4,h5 {
    font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1;
}

h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

.meta-info {
    font-size: 12px;
}


/**========================================================
    LINKS / BUTTONS
========================================================**/

a {
    outline: none;
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

a:hover {
	color: #aaa;
}

.btn {
	display: inline-block;
	padding: 2px 12px 3px;
	border-radius: 5px;
	background: #81ceeb;
	color: #fff;
}

.btn:hover {
	background: #62a7c1;
	color: #fff;
}


/**========================================================
    HEADER
========================================================**/

.logo {
	float: left;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
}

.logo .quote {
    color: #aaa;
	font: 400 italic 14px/1em "proxima-nova", Helvetica, arial, sans-serif;
	text-transform: none;
}

.hello {
    float: right;
    color: #aaa;
    font: 700 12px/1.25em "freight-sans-pro", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}


/**========================================================
    NAVIGATIONS
========================================================**/

.nav a {
    display: block;
    padding: 12px 0;
    font: 700 14px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.main-nav {
    float: left;
}

.main-nav.show {
    display: block;
}

.main-nav li {
    float: left;
    margin-right: 30px;
}

.main-nav li:last-child {
	margin-right: 0;
	padding-right: 0;
}

.main-nav .active {
	border-bottom: 2px solid #000;
}

.nav .categories {
    float: right;
}

.nav .cat-open {
    font-size: 18px;
    padding: 8px 0 0;
}

.cat-nav {
    display: none;
}

.cat-nav li {
    position: relative;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
}

.cat-nav li:not(:first-child):after {
    content: "//";
    position: absolute;
    top: 11px;
    left: -4px;
    font: 700 14px/1em "freight-sans-pro", Helvetica, Arial, sans-serif;
}




/**========================================================
    HOME / THUMB GRID
========================================================**/

.home .main .wrapper {
    margin: 0 20px;
}

.four-col {
    width: 100%;
}

.four-col .item {
    width: 25%;
    padding: 0 10px;
}

.item {
    margin-bottom: 20px;
}

.thumb {
    display: block;
    position: relative;
}

.thumb img {
    width: 100%;
}

.project-title {
    position: absolute;
    top: 2px;
    left: 12px;
    opacity: 0;
    display: table;
    padding: 0 10px;
    background: rgba(255,255,255,0.95);
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

.thumb:hover .project-title {
    opacity: 1;
}

.project-title h2 {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}


/**========================================================
    INFO
========================================================**/

.info-grid .col {
    float: left;
}

.info-grid .row {
    margin-bottom: 40px;
}

.info-grid .c1 {
    width: 25.666%;
    padding-right: 40px;
}

.info-grid .c2-c4 {
    width: 74.333%;
}

.info-grid .c3-c4 {
    width: 65.47%;
}

.info-grid .c2, .info-grid .c3 {
    width: 34.529%;
    padding-right: 40px;
}

.info-grid .c4 {
    width: 30.941%;
}

.info-grid .title {
    margin-bottom: 10px;
}

.info-list li {
    margin-bottom: 20px;
}

.info-list p {
    font-size: 14px;
    line-height: 20px;
}

.exhibition h3 {
    font-style: italic;
}

.instagram .title {
    margin-bottom: 14px;
}

.instagram li {
    margin-bottom: 20px;
}



/**========================================================
    FOOTER
========================================================**/

.footer .wrapper {
    padding: 12px 0;
    border-top: 2px solid #000;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.footer .left a {
    margin-left: 20px;
}

.back-to-top {
    position: absolute;
    top: -48px;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    display: inline-block;
    background: #62a7c1;
    padding: 12px 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.back-to-top:before {
    position: absolute;
    top: -20px;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    margin-left: -20px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #62a7c1;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

.back-to-top:hover {
    background: #324e59;
}

.back-to-top:hover:before {
    border-bottom-color: #324e59;
}


/**========================================================
    MEDIA QUERIES
========================================================**/

@media all and (max-width: 940px) {
    .four-col .item { width: 33.333%; }
}

@media all and (max-width: 700px) {
    .logo .quote { display: none; }
    .four-col .item { width: 50%; }
}

@media all and (max-width: 520px) {
    .home .main .wrapper { margin: 0 30px; }
    .four-col .item { width: 100%; padding: 0; }
    .project-title { left: 2px; }
}